{% extends "blog/base.html" %} {% block title %}Home page{% endblock title %}
 {% block content %}
<div class="container">
  <h1>All Blogs( {{blogs|length}})</h1>

  {% if blogs %} {% for blog in blogs %}
  <div class="blog-post">
    <h2>{{ blog.title }}</h2>
    <p><strong>Author:</strong> {{ blog.author }}</p>
    <p><strong>Rating:</strong> {{ blog.rating }}</p>
    <p>{{ blog.description }}</p>
    <p>{{ blog.slug }}</p>

  </div>
  {% endfor %} {% else %}
  <p>No blogs available yet.</p>
  {% endif %}
</div>
{% endblock content %}
